#footer
  .container
    %p.muted.credit
      %p 
        &copy; Kuchbhi.co 2012 
        %a.team{:href => '/team'} About Us
        %a{:href => 'http://railsrumble.com'}
          = image_tag 'rails_rumble.png'
