.btn-group
  %button.btn.btn-inverse.btn-large.top-btn{:title => 'Signin'}  
    %i.icon-user
  %button.btn.btn-large.dropdown-toggle.btn-inverse.menu-caret{:data => {:toggle => 'dropdown'}}
    %i.icon-caret-down
  %ul.dropdown-menu
    %li 
      %a{:href => edit_user_path(current_user), 'data-remote' => true}
        %i.icon-briefcase
        Account
    %li 
      %a{:href => ads_path }
        %i.icon-sign-blank
        My Ads
    %li.divider
    %li 
      %a{:href => signout_path }
        %i.icon-signout
        Signout
