= form_tag(search_path, :class => 'search-ad') do
  .input-append
    = text_field_tag(:q, params[:q], :size => 16, :placeholder => 'Type here.....', :class => 'span2')
    = button_tag('Search', :class => 'btn btn-success', :type => 'submit' )
    /
      %button.btn{:type => 'button'} Options
