.btn-group
  %button.btn.btn-inverse.btn-large.top-btn{:title => 'Signin'} 
    %i.icon-signin
  %button.btn.btn-large.dropdown-toggle.btn-inverse.menu-caret{:data => {:toggle => 'dropdown'}}
    %i.icon-caret-down
  %ul.dropdown-menu
    %li 
      %a{:href => facebook_signin_path }
        %i.icon-facebook
        Facebook
    %li 
      %a{:href => twitter_signin_path } 
        %i.icon-twitter
        Twitter
