.masthead
  %ul.nav.nav-pills.pull-right
    %li.active
      %a{:href => "#"} Home
    %li
      %a{:href => "#"} Post Ad
    %li
      %a{:href => "#"} My Ads
    %li
      %a{:href => "#"} Profile
  %h3.muted.logo Kuchbhi.co
%hr/
