.row.main
  .sidebar.span3
    %h4 Categories
    .categories
      %label.checkbox
        %input{:type => 'checkbox', :id => 'all_categories'}
        All
      - Category.all.each do |c|
        %label.checkbox
          %input{:type => 'checkbox'}
            = c.name
  .ads.span9
    .google-map
      #gmap
    = render :partial => 'ads/ad', :collection => @ads
