.team-bios
  %h3
    = link_to 'Jiren Patel', 'http://github.com/jiren'
    %br
    = link_to 'Siva Gollapalli', 'http://github.com/sivagollapalli'
    %br
    = link_to 'Manoj Mishra', 'http://github.com/b0rn2c0d3'
    %br
    = link_to 'Prasad Surase', 'https://github.com/prasadsurase'
